/*GENERAL*/
body {
  display: flex;
  flex-wrap: wrap; }

/*HEADINGS*/
.header {
  margin-left: auto;
  margin-right: 0;
  text-align: right; }

.heading--main {
  font-size: 3.6rem;
  margin-left: auto;
  margin-right: 0;
  width: 65%; }
  .heading--main--sub {
    font-size: 1.6rem;
    width: 100%; }

.heading-secondary {
  font-size: 3.3rem;
  padding-top: 0.5em;
  width: 90%; }

.heading--tertiary {
  font-size: 1.8rem; }

/*HEADER SECTION*/
.header {
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 5.9rem; }

.header__body {
  position: relative;
  top: 5%; }

.header__body--text {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 2rem 5rem; }

.header__body--avatar {
  border-radius: 40%;
  margin-top: 0;
  max-width: 12rem; }

/*NAVIGATION BAR*/
#menu svg {
  fill: #4f3a83;
  position: absolute;
  top: 0;
  right: 10px;
  height: 50px; }

#menu svg:hover {
  cursor: pointer;
  fill: #1fb4e2; }

.nav {
  border-radius: 0 5px 5px 0;
  font-size: 1.6rem;
  height: 18rem;
  width: 14rem;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-14rem, 0);
  transform: translate(-14rem, 0);
  transition: transform 0.3s ease;
  z-index: 10; }

.nav__item {
  border-bottom: 1px solid #fff;
  display: inline-block;
  line-height: 4.5rem;
  margin-left: -2rem;
  width: 100%; }

.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

/*WORKS SECTION*/
.works__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%; }

.works__item {
  display: inline-block;
  margin: 3rem 1rem;
  height: 650px;
  padding: 0 0 1.5rem;
  width: 100%; }
  .works__item__textbox {
    font-size: 1.5rem;
    letter-spacing: 1px;
    min-height: 90px; }
    .works__item__textbox--h3 {
      font-size: 2rem; }
  .works__item--more-btn {
    font-size: 1.6rem;
    margin: 1rem; }
  .works__item--img {
    max-width: 90%;
    max-height: 32rem; }

/*FOOTER*/
.footer__container {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  height: 70rem; }

.footer__location {
  width: 100%; }

.footer__location p {
  font-size: 1.6rem; }

.footer__contacts {
  width: 100%; }

.footer__awards {
  width: 100%; }

.footer__about {
  order: 3;
  width: 100%; }

/*CONTACT BTNS*/
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  width: 70%; }
  .contacts__list--item {
    width: calc(100% / 3);
    height: calc(100% / 2); }

/*MEDIA QUERIES*/
@media screen and (min-width: 370px) {
  .heading--main {
    font-size: 6rem; }
  .heading--main--sub {
    font-size: 2rem; } }

@media screen and (min-width: 400px) {
  #menu svg {
    height: 70px; } }

@media screen and (min-width: 460px) {
  .works__item {
    margin-left: 10px;
    margin-right: 10px;
    width: calc((100% - 40px) / 2); } }

@media screen and (min-width: 530px) {
  .header {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0 80%);
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0 80%); }
  .heading--main,
  .heading--main--sub {
    text-align: center;
    width: 100%; }
  #about,
  #works:target {
    padding-top: 50px; }
  #menu svg {
    display: none; }
  .nav {
    border-radius: 0;
    height: 60px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .nav__item {
    border-bottom: none;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
    list-style-type: none;
    margin-left: 0;
    text-align: center;
    width: 32%; }
  .nav__item--link {
    line-height: 1.6;
    margin: -22px;
    padding: 22px;
    position: relative; }
  .header__body {
    top: 0; } }

@media screen and (min-width: 650px) {
  .nav__item {
    width: 28%; }
  .footer__container {
    height: 26rem; }
  .footer__location {
    width: 25%; }
  .footer__contacts {
    width: 45%; }
  .footer__awards {
    width: 30%; }
  .footer__about {
    order: 3;
    width: 100%; }
  .works__item {
    width: calc((100% - 60px) / 3); } }

@media screen and (min-width: 1000px) {
  .header {
    display: inline-block;
    margin: 59px auto 0; }
  .nav__item {
    width: 25%; }
  .works__item {
    width: calc((100% - 80px) / 4); } }
