/* VARIABLES & MIXINS */
/*GENERAL*/
body,
html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  background-image: linear-gradient(to bottom, #ccc7fa, #2915e0);
  font-family: "Raleway", sans-serif; }

.header,
.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 110rem; }

/* FONTS */
.header__title {
  color: #fff;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.5rem 1rem #4f3a83;
  text-transform: uppercase; }

.heading-secondary {
  background-image: linear-gradient(to right, #4c3bed, #1fb4e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  letter-spacing: 0.5rem;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase; }
  .heading-secondary:after {
    border-bottom: 3px double #6253ef;
    content: "";
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%; }

.heading--tertiary {
  color: #da88f6;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }

.text-strong {
  color: #1fb4e2;
  font-weight: bold; }

/* HEADER AREA */
.header {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero2.jpeg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero2.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero2.jpeg");
  background-size: cover;
  background-position: top;
  border: 1px solid #5b5b5b;
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 95vh; }

.header__body {
  box-sizing: border-box;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  padding: 0.5rem 1.5rem 1.5rem;
  text-align: center;
  width: 100%; }
  .header__body--avatar {
    border: 2px solid #3f3e3e;
    border-radius: 40%; }

.header .text-strong {
  text-transform: uppercase; }

/*NAVIGATION BAR*/
.nav {
  background: linear-gradient(to right, #3f3e3e, #252831, #3f3e3e); }
  .nav__item {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase; }
    .nav__item--link, .nav__item--link:visited {
      color: #1fb4e2;
      text-decoration: none; }
    .nav__item--link:hover {
      color: #126d89;
      background-color: #c0c0c0; }

/*WORKS SECTION*/
.works {
  background-color: #fefefe;
  margin: 5rem auto; }
  .works__item {
    background-color: rgba(197, 206, 233, 0.3);
    border: 1px solid #c0c0c0;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0.3rem rgba(37, 40, 49, 0.2);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: center; }
    .works__item__textbox--h3 {
      color: #da88f6;
      font-weight: 200;
      margin-top: 0; }
    .works__item__textbox {
      background: linear-gradient(to top, #18320b, #252831);
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
      color: #c5cee9;
      margin: 0;
      opacity: 0.95;
      padding: 2rem 0 5rem;
      width: 100%; }
      .works__item__textbox p {
        padding: 0.4rem; }
    .works__item--img {
      border-radius: 0.5rem;
      box-shadow: 2px 2px 0.3rem rgba(37, 40, 49, 0.2); }
    .works__item--more-btn, .works__item--more-btn:visited {
      border-radius: 5px;
      display: inline-block;
      color: #1fb4e2;
      text-decoration: none;
      padding: 0.2rem;
      text-decoration: none; }
    .works__item--more-btn:hover {
      color: #126d89;
      background-color: #c0c0c0; }

/* FOOTER */
.footer__container {
  background-color: #3f3e3e;
  color: #fff;
  margin-top: 0;
  padding-top: 0.5rem;
  text-align: center;
  width: 100%; }

.footer__about {
  background-color: #252831;
  color: #fff; }

.google-banner {
  display: block;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 15rem; }

/* CONTACTS BUTTONS */
.contacts__list--item--link {
  background-color: #27afc4;
  border: 1px double #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2em;
  margin: 1.5rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  height: 3.5rem;
  width: 3.5rem; }
  .contacts__list--item--link:visited {
    color: #fff; }
  .contacts__list--item--link:hover {
    background-color: #186b77;
    cursor: pointer; }
